/* ==|====================
   Layout/Header
   ======================= */

.l-header {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: inherit;
    @include box-sizing(border-box);
    background: $gray-5;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.50);
    z-index: 2;
}